/* reglas
selectores
propiedades
valores */

/* selector de etiqueta  */
 header{
    background-color: greenyellow;
}

/* selector descendente */
/* body header div nav ol li a  */

/* selector de clase */

/* link  */
/* #anime  */

body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: normal;
font-style: italic;
}
h1{
    font-size: 40px;
 line-height: 1.5em;
 color: white;
 /* margin: 100px 150px 70px 30px; */
 letter-spacing: -.2px;
 margin: 0;
 /* text-decoration: underline; */ 
}

h1 strong{
    color: #026fff;
}
h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}


.hero{
    height: 300px;
    /* background-image: url(5.png); */
    background-color: #1b2127;
    /* background-size: 500px 300px;
    background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
object-fit: cover;
}

.project{
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid blue; */
    /* border-color: blue;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project-course,
.project-date,
.project-ulr{
    margin: 10px 0;
}
.project-description{
    font-size: 20px;
}


.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}

.menu{
    height: inherit;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.header a{
    color: white;
    text-decoration: none;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}
.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a{
    color: white;
    text-decoration: none ;
    height: inherit;
    display: flex;
    align-items: center ;
    padding:0 10px;
}
.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}
.portfolio{
    background: #fafafa;
    padding: 20px;
}
.Random{
    border: 1px solid red;
    /* margin: 10px; */
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
    background: green;
}
.Random-list{
    display: flex;
    flex-wrap: wrap;
}
.Random img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.Random-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color:white ;
    position: relative;
    padding: 20px;
    text-align: center ;
}
.Random-description{
    text-align: left;
}
.Random-url{
    color: #056fff;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none ;
    border-radius: 5px;
}
.Random-list-tilte{
    margin-left: 10px;
}
.contact{
    background-color: #056fff ;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
}
.form-email input{
border-color: gray ;
border-style: solid;
padding: 20px;
background-size: 20px 20px;
}
.form-email button{
    display: block;
    background: transparent ;
    color: white;
    padding: 5px ;
    border-radius: 5px;
    width: 100px;
    margin-top: 0px;
    /* margin: 10px auto 0; */
}
.form-email h3{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}